[global]
  timeout = 30
  aspect = Testing
  database = federation.db

[example.org]
  scheme = https
  username = test
  password = secret

[example2.org]
  scheme = https
  username = test2
  password = secret
