<!DOCTYPE html>
<html>
  <head node="con:header"></head>
  <body>
    <div node="con:navbar"></div>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span10">
            A rough federation test between two or more diaspora pod's<br/><br/>
          </div>
          <div class="span7">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Pod</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr node="rep:item">
                  <td node="con:pod"></td>
                  <td node="con:status"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
